{% extends 'base.html' %}
{% block title %}
 SocialAdda 
{% endblock title %}
{% block css %}

{% endblock css %}
{% block body %}
	<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Post</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
		<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
  <div class="mb-3">
    <div class="form-floating">
  <textarea class="form-control" placeholder="Caption" name="caption" id="floatingTextarea"></textarea>
  <label for="floatingTextarea">Caption</label>
</div>
  </div>
    <div class="mb-3">
  <label for="formFile" class="form-label">Choose image</label>
  <input class="form-control" type="file" name="image" id="formFile">
</div>
  <a href="home_page"><button type="submit" class="btn btn-primary">Submit</button></a>
</form>
		
</div>
    </div>
  </div>
</div>

	{% for i in posts  %}
	<div class="container">
		<div class="card my-4" >
		  <div class="card-header">
				<a href="{{i.user}}" style="text-decoration:none;"><strong>{{i.user}}</strong></a>	Posted on {{i.date}}
		  </div>
		  <div class="card-body">
			<img src={{i.image.url}} class="img-fluid"/>
			<p class="card-text">{{i.caption}}</p>
			<div class="col">
				<a href="#" class="btn btn-primary">Like</a>
				<a href="#" class="btn btn-secondary">Share</a>
				<a href="#" class="btn btn-warning">Comment</a>
				{% if  request.user == i.user %}
				<a href="{{i.id}}" class="btn btn-danger">Delete</a>
				{% endif %}
			</div>
		  </div>
		</div>
	</div>
	{% endfor %}
{% endblock body %}